/* CSS */

/* Brand Logo Icon CSS */
i.large.material-icons {
    font-size: 60px;
    }
    
    /* Upper Horizontal Line CSS */
    #upper-horizontal-line {
    width: 30%;
    }
    
    /* Header CSS */
    h1 {
    font-family: 'Dancing Script', cursive;
    }
    
    /* First Paragraph CSS */
    #first-paragraph{
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    }
    
    /* Second Paragraph CSS */
    #second-paragraph{
    text-align: justify;
    font-family: 'Crimson Text', serif;
    font-size: 18px;
    margin-top: 4rem;
    margin-bottom: 4rem;
    }
    
    /* First img CSS */
    #first-img {
    max-width: 50%;
    height: auto;
    float: right;
    margin-left: 3rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    }
    
    /* Second img CSS */
    #second-img{
    max-width: 50%;
    height: auto;
    float: left;
    margin-right: 2rem;
    margin-top: 3rem;
    margin-bottom: 4rem;
    }
    
    /* Middle Horizontal Line CSS */
    #middle-horizontal-line {
    width: 10rem;
    margin-bottom: 2rem;
    }
